*{
    list-style: none;
}

.list{
    list-style: none;
}

h2{
    display: block;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul{
    margin-left: 5%;
    margin-top: 1%;
    font-size: large;
}

li{
    margin-left: 8%;
    margin-top: 1%;
}

.btn{
    margin-left: 12%;
    margin-top: 2%;
}

.modal{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.75);
}

.modal_window{
    display: none;
    position: absolute;
    top: 100px;
    left: -13%;
    width: 50%;
    margin: 100px 40%;
    padding: 100px;
    background-color: gainsboro;
    border: 1px solid grey;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.75);
    z-index: 99;
}

.close_modal_window{
    border: 1px solid black;
    background-color: grey;
}